pytest>=2.9
pytest-twisted
pytest-cov
coverage
junitxml
werkzeug
sqlalchemy
lxml>=3.6
pyyaml
pyzmq
twisted
colorama
msgpack>=1
webtest
pytest_django
django
python-subunit
pyramid
tox
pyparsing>=2.0.2
suds-community
zeep
pandas
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
